# =====================
# Private Documents
# =====================
docs-private/


# =====================
# Environment
# =====================
.env


# =====================
# Python Cache
# =====================
__pycache__/
*.py[cod]


# =====================
# Virtual Environment
# =====================
.venv/
venv/


# =====================
# IDE
# =====================
.vscode/


# =====================
# Logs
# =====================
*.log